nav{
     background-color: crimson;
    color: white;
    position: absolute;
    width: 700px;
    left: 25%;
}
#logo{
    height: 100px;
}
#font-awesome{
    font-size: 30px;
    cursor: pointer;
}
#itens-nav{
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20%;
    align-items: center;
}
#menu{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
#image-one{
    width: 700px;
   height: 200px;
   position: absolute;
   left: 25%;
   top: 20%;
}
main{
    background-color: rgb(255, 168, 185);
    width: 700px;
    height: 1650px;
    margin-left: 25%;
   
}
body{
    background-image: url(../img/wallpaper-pink.jpg);
    background-repeat: no-repeat;
    background-size: 181.5%;
}
.recipes{
    padding: 30px;
    background-color: rgb(248, 215, 222);
    position: absolute;
    border-radius: 20px;
    width: 600px;
    left: 26.5%;
}
#torta-de-morango{
    height: 300px;
    width: 600px;
    margin-right: 20px;
}
#Sorvete{
    height: 300px;
    width: 600px;
    margin-right: 20px;
}
#recipe-one{
    top: 55%;
}
#recipe-two{
    top: 153%;
}
.titulo{
    font-size: 30px;
    color: crimson;
}
.corpo{
    text-align: justify;
    font-size: 18px;
}
.informs{
    height: 40px;
    width: 150px;
    border-radius: 20px;
    background-color: crimson;
    border-color: crimson;
    color: white;
    cursor: pointer;
     transition: all 0.8s ease-in-out;
}
.informs:hover{
    background-color: rgb(252, 95, 126);
    border-color:rgb(252, 95, 126) ;
    transform: scale(1.1);
    transition: 1s;
}

#final-site{
    width: 700px;
    left: 25%;
    background-color: crimson;
    position: absolute;
    top: 1650px;
}
#rodape{
    display: flex;
    justify-content: center;
    gap: 20%;
    color: white;
    padding: 20px;
    align-items: center;
    background-color: crimson;
}